*, body {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  background: #F9F9F9;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body, p, form, input, h1, h2, h3, h4, h5, h6, p, form, ul, li, ol, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  font-family: "Roboto", sans-serif;
  color: #191818;
}

a {
  color: #1786C8;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #1786C8;
}

button, a, input, textarea {
  outline: 0 !important;
}

/* Margin */
.m-all-0 {
  margin: 0px !important;
}

.m-all-10 {
  margin: 10px !important;
}

.m-all-20 {
  margin: 20px !important;
}

.m-all-30 {
  margin: 30px !important;
}

.m-all-40 {
  margin: 40px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-1 {
  margin-left: 1px !important;
}

.m-l-2 {
  margin-left: 2px !important;
}

.m-l-3 {
  margin-left: 3px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-6 {
  margin-left: 6px !important;
}

.m-l-7 {
  margin-left: 7px !important;
}

.m-l-8 {
  margin-left: 8px !important;
}

.m-l-9 {
  margin-left: 9px !important;
}

.m-r-1 {
  margin-right: 1px !important;
}

.m-r-2 {
  margin-right: 2px !important;
}

.m-r-3 {
  margin-right: 3px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-6 {
  margin-right: 6px !important;
}

.m-r-7 {
  margin-right: 7px !important;
}

.m-r-8 {
  margin-right: 8px !important;
}

.m-r-9 {
  margin-right: 9px !important;
}

.m-t-1 {
  margin-top: 1px !important;
}

.m-t-2 {
  margin-top: 2px !important;
}

.m-t-3 {
  margin-top: 3px !important;
}

.m-t-4 {
  margin-top: 4px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-6 {
  margin-top: 6px !important;
}

.m-t-7 {
  margin-top: 7px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-t-9 {
  margin-top: 9px !important;
}

.m-b-1 {
  margin-bottom: 1px !important;
}

.m-b-2 {
  margin-bottom: 2px !important;
}

.m-b-3 {
  margin-bottom: 3px !important;
}

.m-b-4 {
  margin-bottom: 4px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-6 {
  margin-bottom: 6px !important;
}

.m-b-7 {
  margin-bottom: 7px !important;
}

.m-b-8 {
  margin-bottom: 8px !important;
}

.m-b-9 {
  margin-bottom: 9px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-l-50 {
  margin-left: 40px !important;
}

.m-r-50 {
  margin-right: 40px !important;
}

.m-t-50 {
  margin-top: 40px !important;
}

.m-b-50 {
  margin-bottom: 40px !important;
}

/* Padding */
.p-all-0 {
  padding: 0px !important;
}

.p-all-10 {
  padding: 10px !important;
}

.p-all-20 {
  padding: 20px !important;
}

.p-all-30 {
  padding: 30px !important;
}

.p-all-40 {
  padding: 40px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-1 {
  padding-left: 1px !important;
}

.p-l-2 {
  padding-left: 2px !important;
}

.p-l-3 {
  padding-left: 3px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-6 {
  padding-left: 6px !important;
}

.p-l-7 {
  padding-left: 7px !important;
}

.p-l-8 {
  padding-left: 8px !important;
}

.p-l-9 {
  padding-left: 9px !important;
}

.p-r-1 {
  padding-right: 1px !important;
}

.p-r-2 {
  padding-right: 2px !important;
}

.p-r-3 {
  padding-right: 3px !important;
}

.p-r-4 {
  padding-right: 4px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-6 {
  padding-right: 6px !important;
}

.p-r-7 {
  padding-right: 7px !important;
}

.p-r-8 {
  padding-right: 8px !important;
}

.p-r-9 {
  padding-right: 9px !important;
}

.p-t-1 {
  padding-top: 1px !important;
}

.p-t-2 {
  padding-top: 2px !important;
}

.p-t-3 {
  padding-top: 3px !important;
}

.p-t-4 {
  padding-top: 4px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-6 {
  padding-top: 6px !important;
}

.p-t-7 {
  padding-top: 7px !important;
}

.p-t-8 {
  padding-top: 8px !important;
}

.p-t-9 {
  padding-top: 9px !important;
}

.p-b-1 {
  padding-bottom: 1px !important;
}

.p-b-2 {
  padding-bottom: 2px !important;
}

.p-b-3 {
  padding-bottom: 3px !important;
}

.p-b-4 {
  padding-bottom: 4px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-6 {
  padding-bottom: 6px !important;
}

.p-b-7 {
  padding-bottom: 7px !important;
}

.p-b-8 {
  padding-bottom: 8px !important;
}

.p-b-9 {
  padding-bottom: 9px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.border-left-none {
  border-left: none !important;
}

.border-right-none {
  border-right: none !important;
}

.border-top-none {
  border-top: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-all-none {
  border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control, .btn.focus, .btn:focus, .custom-select:focus, .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.custom-control-input:focus ~ .custom-control-label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.positionRelative {
  position: relative;
}

.img-responsivee {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.mainBg {
  position: relative;
  height: 100vh;
}

.mainBg.profileMainBg::before {
  display: none;
}

.mainBg:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100vh + 60px);
	width: 100%;
	background-image: url(../images/mainBg.svg);
	background-position: center center;
	background-repeat: no-repeat;
	animation-name: HeroAni;
	animation-duration: 1.65s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	opacity:.5;
}

@-webkit-keyframes HeroAni {
  0% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@keyframes HeroAni {
  0% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

header {
  background: #191818;
  padding: 15px 0;
  position: relative;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

header .logo {
  width: 140px;
  float: left;
  margin-right: 27px;
}

@media only screen and (max-width: 768px) {
  header .logo {
    width: 130px;
    margin-right: 22px;
  }
}

header .headerUploadBtn {
  background: #1786C8;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 41px;
  border: none;
}

header .headerUploadBtn img {
  width: 21px;
  margin-top: -3px;
  margin-right: 13px;
}

@media only screen and (max-width: 768px) {
  header .headerUploadBtn img {
    margin-right: 0;
    width: 17px;
  }
}

header .headerUploadBtn span {
  font-size: 16px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  header .headerUploadBtn span {
    display: none;
  }
}

header .headerUploadBtn:hover {
  background: #2CB0FF;
}

header .loginBtnsRight {
  float: right;
}

header .loginBtnsRight::after {
  content: '';
  display: table;
  clear: both;
}

header .loginBtnsRight .headerLoginBtn {
  font-size: 17px;
  color: #fff;
  line-height: 41px;
  float: left;
  cursor: pointer;
  margin-right: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .loginBtnsRight .headerLoginBtn:hover {
  color: #2CB0FF;
}

header .loginBtnsRight .headerRegisterBtn {
  background: #292727;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 41px;
  border: none;
}

header .loginBtnsRight .headerRegisterBtn img {
  width: 22px;
  margin-top: -1px;
  margin-right: 7px;
}

@media only screen and (max-width: 768px) {
  header .loginBtnsRight .headerRegisterBtn img {
    margin-right: 0;
  }
}

header .loginBtnsRight .headerRegisterBtn span {
  font-size: 16px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  header .loginBtnsRight .headerRegisterBtn span {
    display: none;
  }
}

header .loginBtnsRight .headerRegisterBtn:hover {
  background: #373636;
}

footer {
  padding: 140px 0 20px 0;
  position: relative;
}

footer .footerNav {
  color: #191818;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 17px;
}

@media only screen and (max-width: 768px) {
  footer .footerNav {
    font-size: 15px;
    padding-top: 5px;
  }
}

footer .footerNav a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #191818;
}

footer .footerNav a:hover {
  color: #1786C8;
}

footer .footerCopyright {
  color: #373636;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .footerCopyright {
    font-size: 14px;
  }
}

footer .footerCopyright a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #373636;
}

footer .footerCopyright a:hover {
  color: #1786C8;
}

footer .footerLogo {
  margin: 0 auto;
  max-width: 87px;
  padding-bottom: 10px;
}

.mainUploadSection {
  padding: 143px 0 0 0;
  max-width: 812px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .mainUploadSection {
    padding-top: 50px;
  }
}

.mainUploadSection h1 {
  color: #1786C8;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 43px;
  margin-bottom: 6px;
}

.mainUploadSection h2 {
  color: #191818;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  margin-bottom: 53px;
}

.mainUploadSection .uploaderSection {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px 0 40px 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .mainUploadSection .uploaderSection {
    padding: 20px 0 29px 0;
    margin-bottom: 60px;
  }
}

.mainUploadSection .uploaderSection .uploadIcon {
  max-width: 218px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .mainUploadSection .uploaderSection .uploadIcon {
    max-width: 140px;
  }
}

.mainUploadSection .uploaderSection h3 {
  color: #191818;
  font-size: 26px;
  line-height: 32px;
}

@media only screen and (max-width: 768px) {
  .mainUploadSection .uploaderSection h3 {
    font-size: 21px;
  }
}

.mainUploadSection .uploaderSection h3 span {
  color: #1786C8;
}

.mainUploadSection .uploaderSection p {
  line-height: 22px;
  font-size: 18px;
  color: rgba(14, 36, 49, 0.5);
}

@media only screen and (max-width: 768px) {
  .mainUploadSection .uploaderSection p {
    font-size: 15px;
    line-height: 10px;
  }
}

.mainUploadSection .uploaderSection:hover {
  background: rgb(255, 255, 255);
  border: 2px dashed rgba(0, 0, 0, 0.4);
}

.registerSection {
  padding: 67px 0 0 0;
  max-width: 536px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .registerSection {
    padding: 40px 0 45px 0;
  }
}

.registerSection .registerIcon {
  margin: 0 auto 24px;
  max-width: 125px;
}

@media only screen and (max-width: 768px) {
  .registerSection .registerIcon {
    max-width: 109px;
  }
}

.registerSection h1 {
  line-height: 43px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #1786C8;
}

@media only screen and (max-width: 768px) {
  .registerSection h1 {
    font-size: 28px;
  }
}

.registerSection h2 {
  font-size: 26px;
  line-height: 32px;
  color: #191818;
  margin-bottom: 35px;
}

@media only screen and (max-width: 768px) {
  .registerSection h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

.registerSection .registerFormInput {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: #1786C8 1px solid;
  height: 60px;
  padding: 0 18px;
  color: #191818;
  font-size: 18px;
}

.registerSection .registerFormInput.placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.registerSection .registerFormInput:-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.registerSection .registerFormInput::-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.registerSection .registerFormInput:-ms-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.registerSection .registerFormInput::-webkit-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .registerSection .registerFormInput {
    height: 51px;
    font-size: 16px;
  }
}

.registerSection .customCheckBox {
  text-align: left;
  margin-top: 30px;
  font-size: 18px;
}

.registerSection .customCheckBox .custom-control-label {
  padding-left: 5px;
}

@media only screen and (max-width: 768px) {
  .registerSection .customCheckBox .custom-control-label {
    font-size: 17px;
  }
}

.registerSection .customCheckBox .custom-control-label a {
  color: #1786C8;
}

.registerSection .registerBtn {
  background: #1786C8;
  line-height: 50px;
  padding: 0;
  width: 100%;
  color: #fff;
  font-size: 22px;
  margin: 25px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
}

@media only screen and (max-width: 768px) {
  .registerSection .registerBtn {
    line-height: 45px;
    font-size: 19px;
    margin: 17px 0;
  }
}

.registerSection .registerBtn:hover {
  background: #1786C8;
}

.registerSection .alreadyAccount {
  text-align: right;
  font-size: 18px;
  color: #191818;
}

@media only screen and (max-width: 768px) {
  .registerSection .alreadyAccount {
    font-size: 16px;
  }
}

.registerSection .alreadyAccount a {
  color: #1786C8;
}

.registerSection .alreadyAccount a:hover {
  color: #1786C8;
}

.registerSection .loginWdSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .registerSection .loginWdSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registerSection .loginWdSocial a {
  width: 50%;
  border-radius: 4px;
  color: #fff;
  padding: 14px 0;
  font-size: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
}

@media only screen and (max-width: 768px) {
  .registerSection .loginWdSocial a {
    width: 100%;
  }
}

.registerSection .loginWdSocial a i {
  font-size: 22px;
  margin-right: 6px;
}

.registerSection .loginWdSocial a.facebook {
  background: #245eaa;
}

.registerSection .loginWdSocial a.facebook:hover {
  background: #1b4780;
}

.registerSection .loginWdSocial a.gPlus {
  background: #e24a2f;
}

.registerSection .loginWdSocial a.gPlus:hover {
  background: #c3341b;
}

.registerSection .loginWdSocial a:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .registerSection .loginWdSocial a:first-child {
    margin: 0 0 15px 0;
  }
}

.inputsLabelLeft {
  width: 100%;
  text-align: left;
}

.form-group {
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .form-group {
    margin-bottom: 20px;
  }
}

.formControlInput,
.formControlInput:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: #1786C8 1px solid;
  height: 50px;
  padding: 0 18px;
  color: #191818;
  font-size: 16px;
}

.formControlInput.placeholder,
.formControlInput:focus.placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlInput:-moz-placeholder,
.formControlInput:focus:-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlInput::-moz-placeholder,
.formControlInput:focus::-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlInput:-ms-input-placeholder,
.formControlInput:focus:-ms-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlInput::-webkit-input-placeholder,
.formControlInput:focus::-webkit-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .formControlInput,
  .formControlInput:focus {
    height: 51px;
    font-size: 16px;
  }
}

.formControlTextarea,
.formControlTextarea:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: #1786C8 1px solid;
  padding: 10px 18px;
  color: #191818;
  font-size: 16px;
}

.formControlTextarea.placeholder,
.formControlTextarea:focus.placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlTextarea:-moz-placeholder,
.formControlTextarea:focus:-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlTextarea::-moz-placeholder,
.formControlTextarea:focus::-moz-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlTextarea:-ms-input-placeholder,
.formControlTextarea:focus:-ms-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

.formControlTextarea::-webkit-input-placeholder,
.formControlTextarea:focus::-webkit-input-placeholder {
  color: rgba(14, 36, 49, 0.32);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .formControlTextarea,
  .formControlTextarea:focus {
    font-size: 16px;
  }
}

.curtomButton {
  background: #1786C8;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 18px;
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 768px) {
  .curtomButton {
    line-height: 45px;
    font-size: 19px;
    margin: 17px 0;
  }
}

.curtomButton:hover, .curtomButton:focus, .curtomButton:active {
  background: #1786C8;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: #fff;
}

/* Start Custom Checkbox */
.custom-control-input {
  width: 18px;
  height: 18px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1786C8;
  background-color: #fff;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: rgba(234, 76, 76, 0.3);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: rgba(234, 76, 76, 0.3);
  border-color: rgba(234, 76, 76, 0.3);
}

.custom-control-label:before {
  width: 18px;
  height: 18px;
}

.custom-control-label:after {
  width: 18px;
  height: 18px;
  background: no-repeat 2px / 14px 12px;
}

.custom-checkbox .custom-control-label:before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231786C8' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

/* End Custom Checkbox */
/* Start headerMenudd */
.dropdownItem.ddMain {
  display: inline-block;
}

.dropdownItem .headerMenudd {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 5px !important;
  right: 0 !important;
  margin-top: 9px !important;
  left: auto !important;
  top: 100% !important;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transform: translateY(-8px) !important;
          transform: translateY(-8px) !important;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s !important;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s !important;
  display: initial !important;
  position: absolute;
}

.dropdownItem .headerMenudd.headerDD {
  right: -12px !important;
}

.dropdownItem .headerMenudd:after {
  bottom: 100% !important;
  left: 100% !important;
  border: solid transparent !important;
  content: " " !important;
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
  pointer-events: none !important;
  border-bottom-color: #fff !important;
  border-width: 7px !important;
  margin-left: -23px;
}

.dropdownItem .headerMenudd .headerMenuddMain {
  padding: 14px 25px;
  overflow: auto;
  max-height: 300px;
}

.dropdownItem .headerMenudd a {
  min-width: 135px;
  border: none;
  display: block;
  text-align: left;
  line-height: 35px;
  padding: 0;
  color: #191818;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdownItem .headerMenudd a i {
  vertical-align: -2px;
  margin-right: 10px;
  font-size: 17px;
  width: 17px;
}

.dropdownItem .headerMenudd a:hover {
  color: #1786C8;
}

.dropdownItem .headerMenudd.shareMenuDropdown {
  right: -6px !important;
}

.dropdownItem .headerUserIconSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-size: 16px;
  margin-top: 7px;
}

.dropdownItem .headerUserIconSection .userNavIcon {
  width: 29px;
  display: inline-block;
  margin-right: 10px;
}

.dropdownItem .headerUserIconSection .userName {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .dropdownItem .headerUserIconSection .userName {
    display: none;
  }
}

.dropdownItem.show .headerMenudd {
  display: initial !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 3 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transition-delay: 0s, 0s, 0.3s !important;
          transition-delay: 0s, 0s, 0.3s !important;
}

/* End headerMenudd */
.uploaderBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px 18px;
  color: #191818;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 4px;
  position: relative;
}

.uploaderBottom .spinnerCross {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
}

.uploaderBottom .spinnerCross .crossSp {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #1786C8;
}

.uploaderBottom .spinnerCross .crossSp:hover {
  color: #1786C8;
}

.uploaderBottom .spinnerCross .spinner-grow {
  width: 25px;
  height: 25px;
}

.uploaderBottom .progress {
  height: 10px;
}

.uploaderBottom .uploaderImageIcon, .previewLoader {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.previewLoader {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaderBottom .uploaderBottomFlex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.uploaderBottom .uploaderBottomFlex .uploaderBototmName {
  font-size: 16px;
  font-weight: 600;
}

.uploaderBottom .uploaderBottomFlex .progress {
  margin-top: 9px;
}

.uploaderBottom .uploaderBottomFlex .uploaderProgress a {
  font-size: 14px;
  color: #1786C8;
}

.uploaderBottom .uploaderBottomFlex .uploaderProgress a:hover {
  color: #1786C8;
}

/* Start Profile Settings */
.profileSetting {
  padding: 55px 0 15px 0;
  position: relative;
  z-index: 1;
}

.profileSetting .profileTitle {
  margin: 0;
  font-size: 24px;
  padding: 0 0 10px 0;
  border-bottom: #d7d7d7 2px solid;
}

.profileSetting .profileTabList {
  padding: 20px 0 0 0;
}

.profileSetting .profileTabList a.nav-link {
  border: none;
  border-radius: 4px;
  display: block;
  padding: .5rem 1rem;
}

.profileSetting .profileTabList a.nav-link.active {
  background: #1786C8;
  color: #fff;
}

.profileSetting .profileTabList .profileTabsColumn {
  padding-left: 15px;
}

@media only screen and (min-width: 769px) {
  .profileSetting .profileTabList .profileTabsColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.openFileBtn {
  position: relative;
  overflow: hidden;
}

.openFileBtn input[type=file] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.accountLinked {
  font-size: 0.93em;
  padding: 12px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #e1e1e1;
          box-shadow: 0 1px 3px #e1e1e1;
  margin-top: 15px;
}

.accountLinked h3 {
  font-weight: 600;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  color: #292727;
}

.accountLinked h3 a {
  font-weight: normal;
  margin-left: 5px;
  font-size: small;
}

/* End Profile Settings */
/* Start Btn Socials */
/* Signup Social Buttons */
.btn-social {
  position: relative;
  padding-left: 67px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 14px 30px;
  font-size: 18px;
}

@media only screen and (max-width: 992px) {
  .btn-social {
    margin: 14px 0;
  }
}

.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 47px;
  line-height: 45px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-bitbucket {
  color: #fff;
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active {
  color: #fff;
  background-color: #183c60;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox {
  color: #fff;
  background-color: #1087dd;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active {
  color: #fff;
  background-color: #0d70b7;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  color: #fff;
  background-color: #30487b;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr {
  color: #fff;
  background-color: #ff0084;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active {
  color: #fff;
  background-color: #d6006f;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active {
  color: #fff;
  background-color: #303030;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active {
  color: #fff;
  background-color: #ca3523;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus :first-child {
  font-size: 25px;
}

.btn-instagram {
  color: #fff;
  background-color: #cf2a7a;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active {
  color: #fff;
  background-color: #b91665;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active {
  color: #fff;
  background-color: #005f8d;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest {
  color: #fff;
  background-color: #cb2027;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active {
  color: #fff;
  background-color: #a81a20;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr {
  color: #fff;
  background-color: #2c4762;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active {
  color: #fff;
  background-color: #1f3346;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
  color: #fff;
  background-color: #2ba9e1;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  color: #fff;
  background-color: #1c92c7;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk {
  color: #fff;
  background-color: #587ea3;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active {
  color: #fff;
  background-color: #4a6a89;
  border-color: rgba(0, 0, 0, 0.2);
}

/* End Btn Socials */
/* Explore Page */
.exploreTabsArea {
  background: #f9f9f9;
}

@media only screen and (max-width: 768px) {
  .exploreTabsArea {
    padding: 6px 0 6px 0;
  }
}

.exploreTabsArea.profileTabs {
  padding-top: 12px;
  padding-bottom: 6px;
  border-bottom: #e3e3e3 2px solid;
  margin-bottom: 13px;
}

.exploreTabsArea h4 {
  font-weight: 700;
  font-size: 15px;
  border-bottom: rgba(160, 174, 192, 0.2) 1px solid;
  color: black;
  padding: 25px 0 4px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.exploreTabsArea h4:first-child {
  padding-top: 0;
}

.exploreTabsArea .imgUsername {
  padding: 0 0 0px 0;
}

.exploreTabsArea .imgUsername::after {
  content: '';
  display: table;
  clear: both;
}

.exploreTabsArea .singleImgShareArea {
  padding: 7px 0 0 0;
}

.exploreTabsArea .singleImgShareArea .embedLinks {
  padding: 5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.exploreTabsArea .singleImgShareArea .embedLinks a {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.exploreTabsArea .singleImgShareArea .embedLinks a i {
  width: 25px;
}


.exploreTabsArea .exploreTabsLeft {
  float: left;
}

@media only screen and (max-width: 768px) {
  .exploreTabsArea .exploreTabsLeft {
    width: 100%;
    margin-bottom: 20px;
  }
}

.exploreTabsArea .explorePageTitle {
  color: #1786C8;
  float: left;
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px 0 0;
}

@media only screen and (max-width: 768px) {
  .exploreTabsArea .explorePageTitle {
    display: none;
  }
}

.exploreTabsArea a {
  font-size: 16px;
}

.exploreTabsArea a.selectLinks {
  float: left;
  font-size: 16px;
  color: #292727;
  padding: 0 10px;
  position: relative;
}

.exploreTabsArea a.selectLinks.active:after, .exploreTabsArea a.selectLinks.active:hover:after, .exploreTabsArea a.selectLinks:hover:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #1786C8;
  left: 0;
  bottom: -8px;
  position: absolute;
}

.exploreTabsArea a.selectLinks:hover:after {
  background: #c8c8c8;
}

.exploreTabsArea a.clearSelection {
  cursor: pointer;
}

.exploreTabsArea a.selectAllSelection {
  float: right;
  cursor: pointer;
  border-right: #b9b9b9 1px solid;
  padding: 0 7px 0 0;
  margin: 2px 7px 0 0;
  height: 16px;
  line-height: 16px;
}

.exploreTabsArea .actionSelectionMain {
  float: right;
}

.exploreTabsArea .actionSelectionMain a.actionSelection {
  float: right;
  cursor: pointer;
}

.exploreTabsArea .actionSelectionMain a.actionSelection.disabled {
  color: #bcbcbc;
  cursor: default;
}

.exploreTabsArea .actionSelectionMain a.actionSelection.dropdown-toggle:after {
  margin-left: .3em;
  vertical-align: .15em;
}

.cardImagesArea {
  -webkit-column-gap: .8rem;
  column-gap: .8rem;
}

.cardImagesArea .card {
  overflow: hidden;
}

.cardImagesArea .card.gillcard {
  position: relative;
}

.cardImagesArea .card.gillcard .listItemDesc {
  padding: 0;
  position: absolute;
  font-size: 0.93em;
  line-height: 130%;
  color: #fff;
  border: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  opacity: 1;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  width: 100%;
  bottom: 0;
}

.cardImagesArea .card.gillcard .listItemDesc .listItemDescTitle {
  padding: 10px 10px 3px 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media only screen and (max-width: 768px) {
  .cardImagesArea .card.gillcard .listItemDesc .listItemDescTitle {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.cardImagesArea .card.gillcard .listItemDesc .listItemDescTitle .listItemDescTitleLink {
  font-size: 14px;
  line-height: 1.08em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.cardImagesArea .card.gillcard .listItemDesc .listItemMoreOptions {
  text-align: center;
  margin: 0;
  padding: 6px 0;
  list-style: none;
  /* background: rgba(0,0,0,0.2); */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.58)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.58) 100%);
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media only screen and (max-width: 768px) {
  .cardImagesArea .card.gillcard .listItemDesc .listItemMoreOptions {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.cardImagesArea .card.gillcard .listItemDesc .listItemMoreOptions li {
  width: 33.3333%;
  float: left;
  color: #ced5df;
  opacity: .8;
}

.cardImagesArea .card.gillcard .listItemDesc .listItemMoreOptions li i {
  margin-right: 5px;
}

.cardImagesArea .card.gillcard .listItemLike {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  text-shadow: 1px 1px 1px #000;
  z-index: 1;
}

.cardImagesArea .card.gillcard .listItemLike .btnLike {
  font-size: 14px;
  padding: 8px 15px;
  cursor: pointer;
  display: none;
  opacity: .8;
}

.cardImagesArea .card.gillcard .listItemLike .btnLike:hover, .cardImagesArea .card.gillcard .listItemLike .btnLike.btnLiked {
  opacity: 1;
}

.cardImagesArea .card.gillcard:hover .listItemDescTitle,
.cardImagesArea .card.gillcard:hover .listItemMoreOptions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 5;
    column-count: 5;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 6;
    column-count: 6;
  }
}

.card.gillcard[data-liked="0"] .listItemLike .btnLike.btnUnliked {
  display: block;
}

.card.gillcard[data-liked="1"] .listItemLike .btnLike.btnLiked {
  display: block;
}

.loadmoreButtonArea {
  text-align: center;
  padding: 35px 0 20px 0;
}

.loadmoreButtonArea a {
  background: #fff;
  padding: 10px 20px;
  font-size: 16px;
  color: #a0aec0;
  border: #a0aec0 1px solid;
  font-weight: 300;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loadmoreButtonArea button {
  background: #fff;
  padding: 10px 50px;
  font-size: 20px;
  color: #a0aec0;
  border: #a0aec0 1px solid;
  font-weight: 300;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loadmoreButtonArea a:hover, .loadmoreButtonArea a:focus, .loadmoreButtonArea a.active, .loadmoreButtonArea button:hover, .loadmoreButtonArea button:focus, .loadmoreButtonArea button.active {
  border-color: #1786C8;
  color: #1786C8;
}

/* Explore Page */
/* profile page */
.profileHeaderParallax {
  position: relative;
  height: 100%;
}

.profileHeaderParallax .parallaxWindow {
  min-height: 400px;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .profileHeaderParallax .parallaxWindow {
    display: none;
  }
}

.profileHeaderParallax .changeBackgroundCover {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .profileHeaderParallax .changeBackgroundCover {
    display: none;
  }
}

.profileHeaderParallax .changeBackgroundCover .btnChangeBackgroundCover {
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  padding: 3px 17px;
  cursor: pointer;
}

.profileHeaderParallax .changeBackgroundCover .btnChangeBackgroundCover i {
  margin-right: 4px;
}

.profileHeaderParallax .changeBackgroundCover .btnChangeBackgroundCover:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.profileTopUser {
  position: relative;
  height: auto;
  min-height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileTopUser .topUserCredentials .userImage {
  margin-top: -30px;
  width: 130px;
  height: 130px;
  border: 4px solid #fff;
  float: left;
  margin-right: 10px;
  border-radius: 100%;
  display: block;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .profileTopUser .topUserCredentials .userImage {
    margin-top: 3px;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
  }
}

.profileTopUser h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .profileTopUser h1 {
    font-size: 20px;
    padding-top: 12px;
  }
}

.profileTopUser .userMeta {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .profileTopUser .userMeta {
    margin-bottom: 15px;
  }
}

.profileTopUser .userMeta a.editLink,
.profileTopUser .userMeta a.deleteLink {
  font-size: 13px;
  font-size: 0.93rem;
  text-decoration: none;
  font-weight: normal;
  color: #1786C8;
}

.profileTopUser .userMeta a.editLink span.fa-pencil-alt {
  font-size: 11px;
  width: 12px;
  display: inline-block;
  margin-right: 3px;
  text-decoration: none;
}

.profileTopUser .numberFiguresMain {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .profileTopUser .numberFiguresMain {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .profileTopUser .numberFiguresMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 7px;
  }
}

.profileTopUser .numberFiguresMain .numberFigures {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  border-left: 1px solid #E5E5E5;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .profileTopUser .numberFiguresMain .numberFigures {
    font-size: 14px;
  }
}

.profileTopUser .numberFiguresMain .numberFigures:first-child {
  padding-left: 0;
  border-left: none;
}

.profileTopUser .numberFiguresMain .numberFigures:last-child {
  padding-right: 0;
}

.profileTopUser .numberFiguresMain .numberFigures span {
  color: #c3c3c3;
}

.profileImagesTabArea {
  background: #fff;
  padding-top: 12px;
}

.profileCardColumns {
  -webkit-column-gap: .8rem;
  column-gap: .8rem;
}

@media (min-width: 576px) {
  .profileCardColumns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .profileCardColumns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.cardListLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.listItemImageTools {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.listItemImageTools li {
  margin: 2px;
  cursor: pointer;
  position: relative;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  left: calc(-26px - 2px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: block;
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .listItemImageTools li {
    left: 0;
  }
}

.listItemImageTools li span {
  float: left;
}

.listItemImageTools li .btn-icon {
  font-size: 13px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.listItemImageTools li .label {
  font-size: 0.86em;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  max-width: 0;
}

.listItemImageTools li:hover .label {
  max-width: 200px;
  padding-right: 1em;
}

.card.gillcard:hover .listItemImageTools li, .listItemImageTools.checkboxSelected .toolSelect {
  left: 0;
}

.listItemImageTools li:hover .btn-icon, .listItemImageTools li .label {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

/* profile page */
/* Start pagesSection */
.pagesSection {
  padding: 67px 0 0 0;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .pagesSection {
    padding: 40px 0 45px 0;
  }
}

.pagesSection h1 {
  line-height: 43px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #1786C8;
}

@media only screen and (max-width: 768px) {
  .pagesSection h1 {
    font-size: 28px;
  }
}

.pagesSection h2 {
  font-size: 26px;
  line-height: 32px;
  color: #191818;
  margin-bottom: 50px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .pagesSection h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.pagesSection p, .pagesSection .pagesTexts {
  font-size: 14px;
  color: #292727;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-align: left;
}

.pagesSection p span, .pagesSection .pagesTexts span {
  font-size: 14px;
  color: #292727;
  font-weight: 500;
}

/* End pagesSection */
.singleImageMain {
  padding: 50px 0 0 0;
}

/* Image viewer */
.imageViewer {
  text-align: center;
  position: relative;
  min-height: 72px;
  overflow: hidden;
  margin-bottom: 20px;
}

.imageViewer .imageViewerContainer {
  /* display: block; */
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.imageViewer .imageViewerContainer.cursorZoomIn {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-height: 100%;
  max-width: 924px;
}

.imageViewer .imageViewerContainer.cursorZoomOut {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  max-width: 100%;
}

/* Image viewer */
/* Single Page */
.singlePostTitle {
  color: #292727;
  float: left;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.singleImgUsername {
  float: left;
  line-height: 18px;
  margin-top: 4px;
  position: relative;
}

.singleImgUsername .singleImgUsericon {
  width: 25px;
  height: 25px;
  float: left;
  border-radius: 100px;
  border: #e3e3e3 1px solid;
  margin-right: 6px;
  margin-top: -4px;
}

.singleImgUsername .singleImgUsericonText {
  float: left;
  font-size: 16px;
  color: #9c9c9c;
  max-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.singleVia {
  float: left;
  font-size: 16px;
  color: #9c9c9c;
  margin-left: 11px;
  border-left: #ccc 1px solid;
  padding-left: 10px;
  line-height: 18px;
  margin-top: 4px;
}

.singleImgShareIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  margin: -6px 3px 0 3px;
  font-size: 16px;
  vertical-align: top;
  padding: 0;
}

.singleImgShareIcon:focus, .singleImgShareIcon:hover {
  color: #fff;
}

.singleImgShareIcon.iconFb {
  background: #3b5998;
}

.singleImgShareIcon.iconFb:hover {
  background: #32508d;
}

.singleImgShareIcon.iconTwt {
  background: #55acee;
}

.singleImgShareIcon.iconTwt:hover {
  background: #4197d8;
}

.singleImgShareIcon.iconGgp {
  background: #D74836;
  font-size: 19px;
}

.singleImgShareIcon.iconGgp:hover {
  background: #B9392A;
}

.singleImgShareIcon.iconPin {
  background: #bd081c;
}

.singleImgShareIcon.iconPin:hover {
  background: #800613;
}

.singleImgShareIcon.iconRdt {
  background: #f54b00;
  font-size: 18px;
}

.singleImgShareIcon.iconRdt:hover {
  background: #d44100;
}

/* Share Menu Dropdown */
.navbarNavAreaShare li a {
  padding: 4px;
  display: block;
  text-align: left;
  line-height: 19px;
  font-size: 14px;
  color: #292727;
}

.navbarNavAreaShare li a:hover {
  color: #1786C8;
}

.navbarNavAreaShare li a .navBottomTxt {
  width: 100%;
  float: left;
  text-align: center;
}

.navbarNavAreaShare li a i {
  font-size: 16px;
}

/* shareMenuArea */
.shareMenuArea {
  width: 20px;
  height: 16px;
  position: relative;
  float: right;
  margin: 1px 0px 0 8px;
}

.shareMenuArea .bit1:before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  height: 2px;
  background: #292727;
  -webkit-transition: top 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, top 0.2s;
  transition: transform 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.shareMenuArea .bit1:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  height: 2px;
  background: #292727;
  -webkit-transition: top 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, top 0.2s;
  transition: transform 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.shareMenuArea .bit2 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 2px;
  background: #292727;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

.shareMenuArea .bit3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  height: 2px;
  background: #292727;
  -webkit-transition: bottom 0.2s, -webkit-transform 0.2s;
  transition: bottom 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, bottom 0.2s;
  transition: transform 0.2s, bottom 0.2s, -webkit-transform 0.2s;
}

.shareMenuArea .bit3:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  height: 2px;
  background: #292727;
  -webkit-transition: bottom 0.2s, -webkit-transform 0.2s;
  transition: bottom 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, bottom 0.2s;
  transition: transform 0.2s, bottom 0.2s, -webkit-transform 0.2s;
}

.shareMenuArea.show .bit1:before {
  top: -3px;
  width: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, top 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

.shareMenuArea.show .bit1:after {
  top: -3px;
  width: 13px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, top 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

.shareMenuArea.show .bit2 {
  width: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: width 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s, -webkit-transform 0.2s 0.2s;
}

.shareMenuArea.show .bit3:before {
  bottom: -2px;
  width: 13px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, bottom 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

.shareMenuArea.show .bit3:after {
  bottom: -2px;
  width: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, bottom 0.2s 0.2s;
  transition: transform 0.2s 0.2s, width 0.2s 0.2s, bottom 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}

/* shareMenuArea */
.aboutUsername {
  border-bottom: #a0aec0 1px solid;
  padding: 4px 0 8px 0;
  color: #1786C8;
}

.aboutUsernameImages {
  font-size: 18px;
  margin: 0 0 4px 0;
}

.aboutUsernameImages span {
  font-size: 14px;
  color: #a0aec0;
}

.copyURLMain {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: #1786C8 1px solid;
  color: #292727;
  position: relative;
  padding: 4px 10px;
  font-size: 12px;
  word-break: break-all;
  border-radius: 4px;
}

.copyURLMain .btnCopy {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background: #1786C8;
  font-size: 11px;
  padding: 2px 5px 0px 5px;
  border-radius: 4px 0 0 0px;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.copyURLMain:hover .btnCopy {
  opacity: 1;
}
